---
import Root from "@/layouts/Root.astro";
import PostsGrid from "@/components/PostsGrid.astro";
import {getCollection} from "astro:content";
import {toPosts, getCategories} from "@/content";

export async function getStaticPaths() {
	const posts = toPosts(await getCollection("blog"));
	const cateogires = getCategories(posts);
	return cateogires.map((category) => ({
		params: {category},
		props: {
			posts: posts.filter((post) => post.category === category),
		},
	}));
}

const {category} = Astro.params;
const {posts} = Astro.props;
---

<Root>
	<div
		class:list={[
			"mx-auto h-full max-w-6xl overflow-clip",
			"grid grid-cols-1",
			"gap-4 p-4 sm:gap-8 sm:p-8",
			"lg:grid-cols-[minmax(0,1fr),18.75rem]",
		]}
	>
		<div class="relative w-full">
			<h2>
				Category: {category}
			</h2>
			<PostsGrid posts={posts} />
		</div>

		<aside class="space-y-4">
			<div class="glass h-full"></div>
		</aside>
	</div>
</Root>
