---
import Root from "@/layouts/Root.astro";
import Link from "@/components/Link.astro";
import PostsGrid from "@/components/blog/PostsGrid.astro";
import {getCollection} from "astro:content";
import {toPosts} from "@/content";
import MostViewedPosts from "@/components/aside/MostViewedPosts.astro";
import FilterCloud from "@/components/aside/FilterCloud.astro";
import Blog from "@/layouts/Blog.astro";
import {site} from "@/lib/constants";
import BlogDescription from "@/components/blog/BlogDescription.astro";

const collection = await getCollection("blog");
const posts = toPosts(collection);
---

<Root title="Blog" description={site.blog.description}>
	<Blog>
		<div slot="header" class="mb-4 @container">
			<h1 class="max-w-3xl text-pretty font-title text-xl font-light @md:text-4xl">
				{site.blog.title}
			</h1>

			<BlogDescription />

			<p class="tet-pretty prose-sm mt-2 @md:prose prose-a:text-accent">
				Subscribe to the <Link aria-label="RSS" href={site.links.rssfeed} class="text-accent"
					>RSS Feed</Link
				> to stay updated.
			</p>
		</div>
		<PostsGrid slot="body" posts={posts} />
		<FilterCloud slot="aside" />
		<div slot="aside" class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-1">
			<MostViewedPosts />
		</div>
	</Blog>
</Root>
