---
export const prerender = true;
import Root from "@/layouts/Root.astro";
import PostsGrid from "@/components/PostsGrid.astro";
import {getCollection} from "astro:content";
import {getCategories, getTags, toPosts} from "@/content";
import PageFind from "@/components/PageFind.astro";
import AsideItems from "@/components/aside/AsideItems.astro";
import AsidePosts from "@/components/aside/AsidePosts.astro";
import MostViewedPosts from "@/components/aside/MostViewedPosts.astro";

const collection = await getCollection("blog");
const posts = toPosts(collection);

const categories = getCategories(posts);
const tags = getTags(posts);
---

<Root>
	<div
		class:list={[
			"mx-auto h-full max-w-7xl overflow-clip",
			"grid grid-cols-1",
			"gap-4 p-4 sm:gap-8 sm:p-8",
			"lg:grid-cols-[minmax(0,1fr),18.75rem]",
		]}
	>
		<div class="relative w-full">
			<div>
				<PageFind />
			</div>

			<PostsGrid posts={posts} />
		</div>

		<aside class="space-y-4">
			<AsideItems items={categories} title="Categories" />
			<AsideItems items={tags} title="tags" />
			<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-1">
				<MostViewedPosts />
				<AsidePosts label="Posts" title="Popular" posts={posts} />
			</div>
		</aside>
	</div>
</Root>
