---
import {site} from "@/lib/constants";

import Link from "@/components/Link.astro";
import Root from "@/layouts/Root.astro";

import PostsGrid from "@/components/Blog/PostsGrid.astro";
import FilterCloud from "@/components/Cards/FilterCloud.astro";
import MostViewedPosts from "@/components/Cards/MostViewedPosts.astro";

import ReadMore from "@/components/ReadMore.astro";
import Blog from "@/layouts/Blog.astro";

import {getMatters} from "@/content";
const blog = await Astro.glob("../../content/blog/*.md?(x)");
const posts = getMatters(blog, {method: "astro", type: ["blog"]});
---

<Root title="Blog" description={site.blog.description}>
	<Blog>
		<div slot="header" class="mb-4 @container">
			<h1 class="max-w-3xl text-pretty font-title text-xl font-light @md:text-4xl">
				{site.blog.title}
			</h1>

			<div class="mt-4 max-w-3xl text-pretty">
				<ReadMore text={site.blog.description} readmore={site.blog.readmore} />
			</div>

			<p class="tet-pretty prose-sm mt-2 @md:prose prose-a:text-accent">
				Subscribe to the <Link aria-label="RSS" href={site.links.rssfeed} class="text-accent"
					>RSS Feed</Link
				> to stay updated.
			</p>
		</div>
		<PostsGrid slot="body" posts={posts} />
		<FilterCloud slot="aside" />
		<div slot="aside" class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-1">
			<MostViewedPosts />
		</div>
	</Blog>
</Root>
