---
import Link from "@/components/Link.astro";
import {Icon} from "astro-icon/components";
interface Props {
	categories: string[];
}
const {categories} = Astro.props;
---

<div class="flex items-center gap-1 rounded-badge p-2">
	<Icon name="tabler:category-2" size={20} />
	<ul class="flex items-center gap-2 text-sm">
		{
			categories.map((category, i) => {
				const isLast = i === categories.length - 1;
				return (
					<li>
						<Link
							href={`/categories/${category}`}
							aria-label={`View posts in "${category}"`}
							data-pagefind-filter="category"
							data-pagefind-meta="category"
							transition:name={`category-${category}`}
							class:list={["group relative transition-colors ease-in-out hover:text-accent"]}
						>
							<span
								aria-hidden="true"
								class="absolute -bottom-0.5 left-0 inline h-0.5 w-0 bg-accent transition-all duration-500 ease-in-out group-hover:w-full group-hover:duration-300"
							/>
							{category}
						</Link>
						<span class="text-lg">{isLast ? "" : " ,"}</span>
					</li>
				);
			})
		}
	</ul>
</div>
