---
import {parseDate} from "@/lib/utils";
import {Icon} from "astro-icon/components";

interface Props {
	published: Date;
}

const {published} = Astro.props;
const date = parseDate(published.toISOString());
---

<div class="flex items-center gap-2 rounded-badge p-2">
	<Icon name="tabler:calendar-month" size={20} />
	<div class="flex items-center gap-1" data-pagefind-meta="published">
		{date?.date}
		{date?.month}
		{date?.year}
	</div>
</div>
