---
import type {Post} from "@/content";
import Link from "@/components/Link.astro";
import Image from "@/components/Image/QwikImage";
import Container from "./Container.astro";

interface Props {
	posts: Post[];
	title: string;
	label: string;
}

const {posts, label, title} = Astro.props;
---

<Container>
	<div slot="header" class="w-fit select-none">
		<div class="relative ml-4 bg-base-100 px-2 text-sm uppercase">{label}</div>
	</div>

	<details open slot="body" id="toc-details">
		<summary
			data-tip={`Click on "${title}" to toggle`}
			class:list={[
				"flex cursor-pointer select-none items-center pb-2 pl-6 pr-2 text-3xl",
				"uppercase text-accent",
				"tooltip w-full group-hover:tooltip-open lg:tooltip-left",
			]}
		>
			{title}
		</summary>

		<div id="most-viewed-posts" class="flex flex-col gap-2 p-4">
			{
				posts.map((post) => {
					return (
						<Link
							aria-label={`Read "${post.title}"`}
							href={`/blog/${post.slug}`}
							class:list={["group/title flex gap-2 overflow-clip"]}
						>
							<Image
								src={post.banner}
								alt={`${post.title} banner`}
								class:list={["h-16 max-h-16 w-16 min-w-16 max-w-16 rounded-box"]}
							/>
							<div class="line-clamp-2 text-sm group-hover/title:underline">{post.title}</div>
						</Link>
					);
				})
			}
		</div>
	</details>
</Container>
