---
import {authors} from "@/lib/constants";
import SectionHeading from "./SectionHeading.astro";
import ScrollList from "@/components/ScrollList.astro";
---

<section class="mt-48">
	<SectionHeading
		text="Tech"
		colored="Stack"
		description="Here are some of the technologies I am familiar and worked with"
	/>

	<div class="mx-auto mt-32 max-w-[1366px] space-y-2 px-1">
		<ScrollList items={authors.ankur.programming} />
		<ScrollList direction="right" items={authors.ankur.databases} />
		<ScrollList items={authors.ankur.technologies} />
		<ScrollList direction="right" items={authors.ankur.frameworks} />
	</div>
</section>
