---
import Blog from "@/layouts/Blog.astro";
import Root from "@/layouts/Root.astro";

import PostsGrid from "@/components/Blog/PostsGrid.astro";
import FilterCloud from "@/components/Cards/FilterCloud.astro";

import {getCategories, getMatters} from "@/content";

export async function getStaticPaths() {
	const blog = await Astro.glob("../../content/blog/*.md?(x)");
	const posts = getMatters(blog, {method: "astro", type: ["blog"]});
	const cateogires = getCategories(posts);
	return cateogires.map((category) => ({
		params: {category},
		props: {
			posts: posts.filter((post) => post.categories.includes(category)),
		},
	}));
}

const {category} = Astro.params;
const {posts} = Astro.props;
---

<Root
	title={`Category "${category}"`}
	description={`Dive into collection of articles in category ${category}. There are total number of ${posts.length} articles in this collection.`}
>
	<Blog>
		<div slot="header" class="mb-4 @container">
			<h1
				class="text-title max-w-2xl text-pretty font-title text-2xl font-light @md:text-3xl @2xl:text-4xl"
			>
				Articles in category <span
					transition:name={`category-${category}`}
					class="capitalize text-accent">{category}</span
				>
			</h1>
			<p class="prose mt-4">
				Dive into collection of articles in category <b class="capitalize">{category}</b>. There are
				total number of <b>{posts.length} articles</b> in this collection.
				<br />
				From beginners to experts, there's something for everyone in this collection.
			</p>
		</div>

		<PostsGrid slot="body" posts={posts} />

		<FilterCloud slot="aside" />
		<!-- <div slot="aside" class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-1"></div> -->
	</Blog>
</Root>
