---
import Root from "@/layouts/Root.astro";
import Blog from "@/layouts/Blog.astro";

import PostsGrid from "@/components/Blog/PostsGrid.astro";
import FilterCloud from "@/components/Cards/FilterCloud.astro";
import MostViewedPosts from "@/components/Cards/MostViewedPosts.astro";

import {getCollection} from "astro:content";
import {toPosts, getCategories} from "@/content";

export async function getStaticPaths() {
	const posts = toPosts(await getCollection("blog"));
	const cateogires = getCategories(posts);
	return cateogires.map((category) => ({
		params: {category},
		props: {
			posts: posts.filter((post) => post.category === category),
		},
	}));
}

const {category} = Astro.params;
const {posts} = Astro.props;
---

<Root
	title={`Category "${category}"`}
	description={`Dive into collection of articles in category ${category}. There are total number of ${posts.length} articles in this collection.`}
>
	<Blog>
		<div slot="header" class="mb-4 @container">
			<h1
				class="text-title max-w-2xl text-pretty font-title text-2xl font-light @md:text-3xl @2xl:text-4xl"
			>
				Articles in category <span class="capitalize text-accent">{category}</span>
			</h1>
			<p class="prose mt-4">
				Dive into collection of articles in category <b class="capitalize">{category}</b>. There are
				total number of <b>{posts.length} articles</b> in this collection.
				<br />
				From beginners to experts, there's something for everyone in this collection.
			</p>
		</div>

		<PostsGrid slot="body" posts={posts} />

		<FilterCloud slot="aside" />
		<div slot="aside" class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-1">
			<MostViewedPosts />
		</div>
	</Blog>
</Root>
