---
import Root from "@/layouts/Root.astro";
import PageFind from "@/components/PageFind.astro";
import LatestUpdates from "@/components/Sections/LatestUpdates.astro";

import {getCollection} from "astro:content";
import {toPosts} from "@/content";
const collection = await getCollection("blog");
const posts = toPosts(collection);
---

<Root title="Home" nocrumbs>
	<div class="px-4">
		<PageFind />
	</div>
	<LatestUpdates posts={posts} />
	<LatestUpdates posts={posts} />
	<LatestUpdates posts={posts} />
	<LatestUpdates posts={posts} />
	<LatestUpdates posts={posts} />
</Root>
