---
import CardContainer from "@/components/aside/CardContainer.astro";
import type {Heading} from "@/content";
interface Props {
	headings: Heading[];
	isOpened?: boolean;
}

const {headings, isOpened} = Astro.props;
---

<CardContainer watchScroll>
	<div slot="header" class="w-fit select-none">
		<div class="relative ml-4 bg-base-100 px-2 text-sm uppercase">Table of</div>
	</div>

	<details slot="body" id="toc-details" open={isOpened}>
		<summary
			data-tip={"Click on \"CONTENT\" to toggle"}
			class:list={[
				"flex cursor-pointer select-none items-center pb-2 pl-6 pr-2 text-lg lg:text-3xl",
				"uppercase text-accent",
				"tooltip w-full group-hover:tooltip-open lg:tooltip-left",
			]}
		>
			Content
		</summary>

		<ul
			id="toc-list"
			class:list={[
				"z-[999999] mx-1 my-2 h-full max-h-80 overflow-x-hidden lg:overflow-y-auto",
				"transition-all duration-300 ease-in-out",
			]}
		>
			{
				headings.map((heading) => {
					return (
						<li
							id={`tocli-${heading.slug}`}
							class:list={["group/hblock tocli relative flex flex-col justify-center py-0.5"]}
						>
							<a
								href={`#${heading.slug}`}
								class:list={[
									"mr-2 block w-full rounded-none p-1 text-left text-sm hover:bg-transparent",
									"text-neutral-content hover:font-bold hover:text-base-content ",
									"border-l-4 border-transparent hover:border-accent",
									"bg-gradient-to-r hover:from-accent/20 hover:via-accent/10 hover:to-base-100",
									{
										"ml-3": heading.depth === 2,
										"ml-5": heading.depth === 3,
										"ml-7": heading.depth === 4,
										"ml-8": heading.depth === 5,
										"ml-10": heading.depth === 6,
									},
								]}
							>
								{heading.text}
							</a>
						</li>
					);
				})
			}
		</ul>
	</details>
</CardContainer>
