---
import Link from "@/components/Link.astro";
import {getMyLinks} from "@/lib/constants";
import {Icon} from "astro-icon/components";

const links = getMyLinks("twitter,linkedin,instagram,github,email,rss");
---

<div class="flex w-fit items-center gap-8">
	{
		Object.values(links).map((link) => {
			return (
				<Link
					nofocus
					title={link.name}
					aria-label={link.label}
					href={link.href}
					class="grayscale hover:grayscale-0"
				>
					<Icon size={26} name={link.icon} style={{color: link.color}} />
				</Link>
			);
		})
	}
</div>
