---
import type {Post} from "@/content";
import {getColors, parseDate} from "@/lib/utils";
import Link from "@/components/Link.astro";
import ViewsCounter from "@/components/stats/ViewsCounter.svelte";

interface Props {
	post: Post;
}

const {post} = Astro.props;
const date = parseDate(post.published.toISOString());
---

<div class="flex items-center gap-3">
	<div class="flex items-center gap-2">
		{date?.date}
		{date?.month}
		{date?.year}
	</div>

	<div data-pagefind-filter="category">
		{post.category}
	</div>

	<div class="flex flex-wrap items-center gap-2">
		Tags:
		<div class="flex flex-wrap items-center gap-2">
			{
				post.tags.map((tag) => {
					const clr = getColors();
					return (
						<Link
							href={`/tags/${tag}`}
							aria-label={`View all posts in ${tag}`}
							style={{backgroundColor: clr.bg, borderColor: clr.fg}}
							class="rounded-btn px-3 py-2"
							data-pagefind-filter="tag"
						>
							#{tag}
						</Link>
					);
				})
			}
		</div>
	</div>

	<div class="min-w-5">
		<ViewsCounter slug={post.slug} client:idle />
	</div>
</div>
