---
import TableOfContent from "@/components/TableOfContent";
import type {Post} from "@/content";
import {Picture} from "astro:assets";

interface Props {
	post: Post;
}

const {post} = Astro.props;
---

<article
	role="article"
	data-pagefind-body
	class:list={[
		"relative grid",
		"mt-24 gap-y-8 px-4 pb-40 lg:gap-x-4 lg:px-0",
		"grid-cols-[min(640px,100%)] [&>*]:col-start-1 lg:[&>*]:col-start-2",
		"lg:grid-cols-[1fr,minmax(auto,224px),min(640px,100%),minmax(auto,224px),1fr]",
	]}
>
	<figure
		class:list={[
			"relative col-span-3 h-[33.3vw] w-full max-w-full lg:!col-end-5 lg:h-[400px]",
			"group/img overflow-clip rounded-box",
		]}
	>
		<div
			aria-hidden="true"
			class:list={[
				"absolute bottom-0 left-0 h-20 w-full",
				"bg-gradient-to-t from-base-100 via-base-100/50 to-transparent",
				"z-10 transition-all duration-500 ease-in-out group-hover/img:h-0",
			]}
		>
		</div>

		<Picture
			alt={post.title}
			quality="low"
			width={1200}
			height={400}
			src={post.banner}
			formats={["avif", "webp", "jpg"]}
			fallbackFormat="jpg"
			sizes={"(max-width: 360px) 240px, (max-width: 480px) 360px, (max-width: 768px) 480px, (max-width: 1024px) 768px, (max-width: 1280px) 1024px, (max-width: 1920px) 1280px"}
			style={{top: `-${post.banner_y * 86}%`}}
			class="absolute left-0 rounded-box transition duration-1000 ease-in-out hover:scale-110"
		/>
	</figure>

	<div class="col-span-3 lg:!col-end-5">
		<h1
			role="heading"
			data-weight="30"
			data-pagefind-meta="title"
			data-pagefind-sort="weight[data-weight]"
			class="xs:text-2xl text-xl sm:text-3xl lg:text-4xl"
		>
			{post.title}
		</h1>
	</div>

	<div class="col-span-3 lg:!col-end-5">
		<p class="prose max-w-full">
			{post.description}
		</p>
	</div>

	<div class="col-span-3 row-start-4 lg:!col-start-4 lg:!col-end-5">
		<div class="sticky top-10 w-full">
			<TableOfContent headings={post.headings} />
		</div>
	</div>

	<div class:list={["prose col-span-3 max-w-full sm:prose-base lg:!col-end-4 lg:!max-w-[65vw]"]}>
		<slot>content not found</slot>
	</div>
</article>
