---
import "@/styles/global.css";
import "@/styles/pagefind.css";
import type {Props as HeadProps} from "./Head.astro";

import {ViewTransitions} from "astro:transitions";

import type {Post} from "@/content";
import Footer from "@/components/Footer/Footer.astro";
import Navbar from "@/components/Navbar/Navbar.astro";
import BottomNavbar from "@/components/Navbar/BottomNavbar.astro";
import Head from "@/layouts/Head.astro";

import ScrollToTop from "@/components/ScrollToTop.astro";
import Breadcrumbs from "@/layouts/BreadCrumbs.astro";

interface Props extends HeadProps {
	post?: Post;
	nocrumbs?: boolean;
	viewTransition?: boolean;
}

const {post, nocrumbs, viewTransition = true, ...props} = Astro.props;

import {links} from "@/lib/constants";
const scriptURL = import.meta.env.UMAMI_SCRIPT_URL;
const websiteID = import.meta.env.UMAMI_WEBSITE_ID;
---

<!doctype html>
<html lang="en">
	<head>
		<Head {...props} />

		<slot name="head" />

		<script
			defer
			is:inline
			src={scriptURL}
			data-domains={links.domain.href}
			data-website-id={websiteID}></script>

		{viewTransition && <ViewTransitions />}

		<script is:inline data-astro-rerun src="/_pagefind/pagefind-ui.js"></script>
	</head>

	<body class="font-body antialiased">
		<Navbar />
		<BottomNavbar post={post} />

		{!nocrumbs && <Breadcrumbs />}

		<slot />

		<Footer />

		<slot name="scripts" />

		<ScrollToTop />
	</body>
</html>
